/.cache/
/.vscode/
/auto-save-list/
/desktop/
/history
/places
/tramp
/tutorial/
/transient/
/recentf
/projects
/eshell/
/elpa/
/eln-cache/
/bookmarks
/.mc-lists.el
/projectile-bookmarks.eld
/.org-id-locations
/emms/
