[submodule "combobulate"]
	path = combobulate
	url = https://github.com/mickeynp/combobulate.git
	branch = master
[submodule "elfeed-tube"]
	path = elfeed-tube
	url = https://github.com/karthink/elfeed-tube.git
	branch = master
[submodule "notebook-mode"]
	path = notebook-mode
	url = git@github.com:rougier/notebook-mode.git
[submodule "ssass-mode"]
	path = ssass-mode
	url = https://github.com/AdamNiederer/ssass-mode.git
	branch = master
[submodule "vue-html-mode"]
	path = vue-html-mode
	url = https://github.com/AdamNiederer/vue-html-mode.git
	branch = master
[submodule "vue-mode"]
	path = vue-mode
	url = https://github.com/AdamNiederer/vue-mode.git
	branch = master
[submodule "xenops"]
	path = xenops
	url = https://github.com/dandavison/xenops.git
	branch = master
[submodule "iscroll"]
	path = iscroll
	url = https://github.com/casouri/iscroll.git
	branch = master
[submodule "org-notify"]
	path = org-notify
	url = https://github.com/p-m/org-notify
	branch = master
